* {
  box-sizing: border-box;
  scrollbar-width: thin;
}
:root {
  --site-content: #f5f5f5;
  --bq-bg: #f9f9f9;
  --bq-q: #ccc;
  --secondary: lightcoral;
  --table-grey: #e6e6e6;
  --table-caption:grey;
  --global-fs:15px;
  --global-fs-sm:12px;
}
html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--global-fs);
  max-width: 100%;
}
ol li{
 padding: .25rem 0;
}
ol li a{
    text-decoration: none;
    color: var(--secondary);
}
ol li a:hover{
    border-bottom: 2px solid var(--secondary);
}
.site-content, .notebook-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  max-width: 100%;
}
.notebook-content Aside {
  min-width: 20%;
  max-width: 20%;
  background: var(--site-content);
  padding: 0.5rem;
  margin-top: 66px;
  position: fixed;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  min-height: 100%;
}

.site-content  main, .notebook-content main {
  padding: 0.5rem;
  background: white;
  margin-top: 66px;
  min-width: 100%;
  max-width: 100%;

}
.notebook-content  main{
  margin-left: 20%;
  min-width: 80%;
  max-width: 80%;
}
blockquote {
  background: var(--bq-bg);
  margin: 0.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  border-radius: 1rem;
}
blockquote p {
  color: var(--secondary);
}
blockquote p:before {
  color: var(--bq-q);
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p:after {
  color: var(--bq-q);
  content: close-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}
blockquote ul li {
  list-style: none;
}
blockquote ul li:before {
  content: "—";
}
deckgo-highlight-code {
  margin: 1rem;
  font-size: var(--global-fs);
}
figcaption {
  text-align: center;
  font-size: 0.8rem;
  color: grey;
}
a {
  transition: all 0.3s ease;
}

table {
  padding: 1.5rem 1rem;
  width: 100%;
  border-collapse: collapse;
  margin:1.5rem 0;
}
table caption {
  color: var(--table-caption);
  text-align: center;
  font-style: italic;
  font-size: var(--global-fs-sm);
}
table thead {
  color: #333;
  background: linear-gradient(
    90deg,
    var(--table-grey) 0%,
    rgba(9, 9, 121, 0) 50%,
    var(--table-grey) 100%
  );
  text-align: left;
}
table thead tr th {
  padding: 0.4rem;
}
table tbody tr:nth-child(2n) {
  background: var(--table-grey);
}
table tbody tr td {
  padding: 0.4rem;
}

@media only screen and (max-width: 576px) {
  .notebook-content Aside {
    display: none;
  }
  .notebook-content main{
    margin-left: 0;
    min-width: 100%;
  }
  deckgo-highlight-code {
    margin: 1rem 0;
  }
}
